# Archivos de compilacion de .NET
bin/
obj/

# Configuraciones de entorno local
.vs/
*.user
appsettings.Development.json

# Dependencias del Frontend (Next.js/Node)
frontend/node_modules/
frontend/.next/

# Base de datos SQLite local
*.db
*.db-shm
*.db-wal